
@{
    Layout = null;
}

<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>Creator</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="@Url.Action("Index","CreatorHome",new { area = "Creator" })">
                    <span class="ti-home"></span>
                    <span>Created survey</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("CreateForm","CreatorHome",new { area = "Creator" })">
                    <span class="ti-plus"></span>
                    <span>Create new survey</span>
                </a>
            </li>

        </ul>
    </div>
</div>
