
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table>

        <tr>

            <td>

                <div style="border-top:3px solid #22BCE5"> </div>

                <span style="font-family:Arial;font-size:10pt">

                    Thân gửi các bạn sinh viên, <br /><br />

                    <a style="color:#22BCE5" href="{Url}">{Title}</a><br />

                    Phát triển bền vững (PTBV) đã trở thành một yêu cầu cấp bách và cần thiết trong hoạt động kinh tế,
                    văn hóa - xã hội, giáo dục toàn cầu. Đó cũng là một thách thức đang nổi lên trong bối cảnh hội nhập
                    kinh tế quốc tế. Tại Hội nghị thượng đỉnh về PTBV của Liên Hợp Quốc (LHQ) năm 2015, các nhà lãnh đạo
                    thế giới đã thông qua 17 mục tiêu PTBV nhằm xóa đói giảm nghèo, bảo vệ môi trường và khí hậu, tiết kiệm
                    năng lượng và đảm bảo tất cả mọi người có thể sống trong hòa bình và thịnh vượng.<br />
                    <br />
                    Theo xu hướng đó, năm 2022, Trường Đại học FPT có mặt trong Bảng xếp hạng đại học toàn cầu về PTBV
                    (Impact Rankings) do Times Higher Education (THE) công bố. Với thứ hạng 801-1.000, Trường Đại học FPT
                    được quốc tế công nhận đạt chuẩn đại học có đóng góp thúc đẩy các mục tiêu phát triển bền vững của LHQ.<br />
                    <br />
                    Với mong muốn thu thập các thông tin liên quan đến hoạt động PTBV mà các bạn SV đã thực hiện để có cơ sở xây
                    dựng kế hoạch hoạt động thúc đẩy các mục tiêu phát PTBV trong giáo dục và đào tạo, Trường Đại học FPT xin gửi
                    tới các bạn SV khảo sát về các hoạt động này theo link sau:<br />
                    <br />
                    Hướng dẫn khảo sát:
                    - Khảo sát gồm hai phần: Thông tin cá nhân + Các câu hỏi khảo sát hoạt động vì các mục tiêu PTBV.<br />
                    - Các bạn vui lòng sử dụng email fpt.edu.vn làm email mặc định và hoàn thành khảo sát trước ngày 25/08/2022.<br />

                                                                                                                                <a href="{link}/{id}">{survey}</a>
                    <br />
                    Rất mong nhận được phản hồi từ các bạn SV theo link trên.<br />
                    Cảm ơn các bạn!
                </span>

            </td>

        </tr>

    </table>
</body>
</html>
