survey-content {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.survey-element {
    height: 125px;
    width: 125px;
    background-color: rebeccapurple;
    border: 1px solid black;
    margin-bottom: 10px;
}

.img-element {
    height: 120px;
    width: 120px;
}

.survey-text {
    font-weight: bold;
    margin-top: 100px;
}
