body {
    background-image: url('Img/HCM-scaled.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    text-align: center;
}

.form-control {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    background-color: rgb(255, 255, 255,0.5);
}

.form-group__input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.form-group__element:first-child {
    margin-top: 30px;
}

.form-group__element:last-child {
    margin-bottom: 50px;
}

.form-group__element {
    margin-top: 20px;
}

.btn.login-gg {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.btn.btn-primary.login {
    width: 80%;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
}

h2 {
    margin-top: 30px;
    color: black;
}

.login-gg {
    border-radius: unset;
    border: 1px solid black;
}

.text-content {
    margin: 20px 0px 20px 0px;
}

.login-text {
    font-weight: bold;
    color: black;
}
